.header-nav {
  top: 0;
  position: fixed;
  width: 100%;
  transform-style: preserve-3d;
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 0rem 0rem 0rem 1.5rem;
  height: 5.25rem;

  background-color: #fcfcfc;
}

.scroll {
  box-shadow: 0 8px 6px -8px rgba(195, 195, 195, 0.541);
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #2978b5;
}

.navigation,
.nav-list {
  display: inline-flex;
  padding: 0rem 0.625rem;
  list-style-type: none;
  margin-left: auto;

  align-items: center;

  text-align: -webkit-center;
}

.nav-item {
  transition: all 0.2s linear;
  padding: 1.5rem 0rem;
  margin: 0rem 1rem;

  display: inline-block;
  position: relative;

  font-weight: 600;
}

.nav-item::before {
  transition: all 0.2s ease-out;
  height: 0.2rem;
  content: "";
  position: absolute;
  background-color: #555555;

  width: 100%;
  bottom: 0.3rem;
  opacity: 0;
}

/* Media query that disables persistent hover effects when clicked on mobile */
@media (hover: hover) {
  .nav-item:hover {
    color: #2978b5;
  }

  .nav-item:hover::before {
    bottom: 1rem;
    opacity: 1;
    background-color: #2978b5;
  }
}
