.portfolio-grid{
    width: 100%;
    max-width: 100%;

    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: minmax(100vh, autofit);
    gap: 1.5rem;
  
    justify-items: center;

    margin-bottom: 1.25rem;
}

.portfolio-page{
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 52rem) {
    .portfolio-page{
        align-items: center;
        width: 30rem;
    }
}