.portfolio-pages{
    display: flex;
    flex-direction: column;

    width: 75rem;
    min-width: 20rem;
    margin: 0rem 4rem 1.25rem;

    align-items: center;
}

.portfolio-item-title{
    font-size: 4rem;
    line-height: 4.75rem;
    text-align: left;
    margin: 2rem 0rem 0rem 0rem;
    color: #444444;
}

.portfolio-header{
    text-align: left;
    margin-right: auto;
}

.portfolio-page-title-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin: 0rem 0rem 1rem 0rem;
}

.portfolio-page-icon{
    box-sizing: border-box;
    object-position: 50% 50%;

    height: 7.5rem;
    max-width: 100%;

    object-fit: cover;

    /* border-radius: 0.8rem 0.8rem 0rem 0rem; */
    
    padding: 0rem;

    margin-left: auto;
}

.portfolio-sub-title{
    margin: 0.5rem 0rem 0.25rem;
    color: #656565;
}

.portfolio-page-buttons{
    margin-bottom: 2.5rem;
    display: flex;
}

.portfolio-page-contents p{
    text-align: left;

    font-weight: 400;
    font-size: 1.1rem;
    color: #282828;
    margin: 1.5rem 0rem 1.5rem 0rem;
    line-height: 1.9rem;
}

.portfolio-page-contents{
    text-align: left;
}

.portfolio-page-heading-1{
    font-size: 2rem;
    margin: 2.5rem 0rem 0.2rem 0rem;
    text-align: left;
    color: #444444;
}

.portfolio-page-heading-2{
    font-size: 1.45rem;
    margin: 2.5rem 0rem 0.2rem 2rem;
    text-align: left;
    color: #444444;
}

.portfolio-page-heading-3{
    font-size: 1.2rem;
    margin: 2.25rem 0rem 0.5rem 4.5rem;
    text-align: left;
    color: #444444;
}

.portfolio-figure{
    text-align: center;
    display: table;

    table-layout: fixed;
    border-collapse: collapse;
    width: 30%;

    margin: 0rem auto;
}

.single-card{
    width: 70%;
}

.portfolio-figure figcaption{
    text-align: center;
    /* margin-left: 10%; */

    margin: 0rem 0rem;

    /* border-left: 3px solid black; */

    /* padding-left: 1rem; */

    font-size: 0.9rem;
    font-weight: 400;
    color: #4b4b4b;

    caption-side: bottom;
}

.portfolio-image{
    text-align: center;

    margin: 2rem 0rem 0.25rem 0rem;

    height: 100%;

    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    object-fit:contain;

    padding: -1rem;

    /* border: 0.2rem solid black; */
    border-radius: 0.3rem;
}

.portfolio-double-figures{
    display: flex;
    margin-bottom: 2.7rem;
}